<!doctype html>
<html lang="en">

<head>
  <title>myproject : {{.Title }}</title>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="/img/logo.png" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <meta name="google" value="notranslate">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ==" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js" integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ==" crossorigin=""></script>

  <base href="/">


  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://unpkg.com/htmx.org@2.0.1"></script>
  <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.17.0/babel.min.js"></script>


</head>

<body><noscript>You need to enable JavaScript to run this app.</noscript>

  <div class="container p-2">
    <div class="row">
      <div class="twelve columns">
        <div class="header">
          <div class="row">
            <div class="three columns">
              <a href="/"><img src="/img/branding/black-logo.png" alt="myproject" class="logo mw100" style="max-width: 100px"/></a>
            </div>
            <div class="nine columns">
           
            </div>
          </div>
        </div>
      </div>
    </div>

    {{embed}}

    <div class="footer">
      <div class="row powered-row">
        <div class="twelve columns centered">
          Powered by
        </div>
      </div>
      <div class="row">
        <div class="twelve columns centered">
          <a href="/">
            <img src="/img/branding/black-logo-name.png" alt="myproject" class="logo mw100" style="max-width: 100px" />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns centered">
          <p>&copy; 2023 myproject. All rights reserved.</p>
        </div>
      </div>
    </div>

  </div>


</body>


</html>

<!--
https://stackoverflow.com/questions/53972473/how-to-perform-import-export-in-client-side-react-jsx-using-babel-standalone/53975781#53975781
-->