


<div class="container ml-2" style="width: 100%; margin-top: 10px;">
  <div class="row ">
    <div class="col "><img class="mw150" border="0" src="https://myproject.org/img/logo.png" alt=""></div>
  </div>
  <div class="row ">
    <div class="col " style="border-right: 3px solid rgb(204, 204, 204);">

      <div class="row">
        <div class="col">
          <h1 class="text-center">Welcome to myproject</h1>
        </div>
      <div>
        
  
        <form class="form px-2 px-sm-2 px-lg-3" hx-post="/accounts/password/send_reset_link" hx-swap="outerHTML">
          <div class="row">
            <div class="col">
              <h4 class="text-center">Enter your email to get a password reset link</h4>
            </div>
          <div>
            
          <div class="row welcome-title-row" style="margin-top: 30px;">

            <div class="hidden col my-3" id="react_component" style="display: none;">

            </div>

          </div>

          <div  class="hidden form-group animate__animated animate__fadeInUp wow">
            <label>
              <div style="vertical-align: inherit;">Email: </div>
            </label>
            <input type="email" id="email" name="email" class="form-control" >
          </div>

          <button id="join_button"  class="hidden btn btn-primary rounded-pill mt-3 py-3 col-12 col-sm-10 col-md-6 col-lg-6 col-xl-4 ml-auto d-block">
            <div style="vertical-align: inherit;">Send link</div>
          </button>

        </form>

      </div>
    </div>

  </div>

  <div class="pb-2 mt-2 text-center ">
    <div>
      <p class="mt-0 mb-0">
      <div style="vertical-align: inherit;">
        <div style="vertical-align: inherit;">© Copyright 2023 mydomain.com All Rights Reserved</div>
      </div>
      </p>
    </div>
  </div>
</div>


<script type="text/javascript">
   
  
  </script>